.cabezal {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.producto_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.producto_item_nombre {
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 5px;
}

.producto_item_descripcion {
  color: #757575;
  padding-bottom: 5px;
  font-size: 14px;
}

.producto_item_precio {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 25px;
}
