.cabezal {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.producto_item {
  flex-wrap: wrap;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.producto_item_cont1{
  flex: 7;
}

.producto_item_nombre {
  font-weight: 500;
  flex-basis: 90%;
  padding-bottom: 5px;
  padding-top: 5px;
}


.producto_item_descripcion {
  flex-basis: 75%;
  color: #757575;
  padding-bottom: 5px;
  font-size: 13px;
}

.producto_item_precio {
  font-size: 15px;
  flex:1;
  padding-left: 25px;
  align-self: center;
}


.categoria_titulo{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
letter-spacing: 0.5px;
-webkit-font-smoothing: subpixel-antialiased;
text-transform: uppercase;
color: #555;
background-color: #eee;
}


#codigo{
  color: #fff;
  font-size: 45px;
  width:190px
}


#campoCodigo label{
  font-size: 25px;
  color: #fff
}



#codigo  .MuiInput-underline-23:before {
    height: 2px;
    background-color: #fff;
}
