.cabezal {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.producto_item {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.producto_item_nombre {
  font-weight: 600;
  flex-basis: 70%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.producto_item_descripcion {
  flex-basis: 80%;
  color: #757575;
  padding-bottom: 5px;
  font-size: 14px;
}

.producto_item_precio {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 25px;
  align-self: center;
}


.categoria_titulo{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
letter-spacing: 0.5px;
-webkit-font-smoothing: subpixel-antialiased;
text-transform: uppercase;
color: #555;
background-color: #eee;
}
